@font-face {
    font-family: 'gothic_extrase';
    src: url('fonts/GothicExtraE/gothicextras_e-webfont.eot');
    src: url('fonts/GothicExtraE/gothicextras_e-webfont.eot') format('embedded-opentype'),
         url('fonts/GothicExtraE/gothicextras_e-webfont.woff2') format('woff2'),
         url('fonts/GothicExtraE/gothicextras_e-webfont.woff') format('woff'),
         url('fonts/GothicExtraE/gothicextras_e-webfont.ttf') format('truetype'),
         url('fonts/GothicExtraE/gothicextras_e-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/////variables
$mainTypo: #000614;
$mainPaddingTop: 20px;


//////règles générales
body
{
background-color: #EDF2FB;
color: $mainTypo
}
//////////////////header///////
.navbar
{
background-color: #CCDBFD;
}
.logo
{
  width: 180px;
  height: 80px;
}
.panier
{
  width: 80%;
  height: 80px;
}

/////page accueil//////
.pageAccueil //div entourant texte intro et caroussel
{
  height: 800px;
  background-color: rgb(155, 184, 253,0.5);
  margin-top: 20px;
  border-radius: 2%;
  box-shadow: 6px 6px 12px grey;
}
@media screen and (max-width: 767px)//papier collant pour que la div reste jolie en format mobile
{.pageAccueil
  {
  height: 900px;
}
}
.intro //classe texte intro de la page accueil
{
  font-size: 20px;
  padding-left: 20px;
}
.carousel
{
  margin-top: $mainPaddingTop;
  border: solid;
  border-color: #ABC4FF;
  border-width: 2px;
  border-radius: 2%;
  box-shadow: 6px 6px 12px grey;
}
.barre //machin décoratif sous le carousel
{
  display: flex;
  justify-content: center;
  margin-top: 1px;
  font-family: 'gothic_extrase';
  font-size: 100px;

}
////////// page product///////

.boutique
{
  margin-top: $mainPaddingTop;
  display: flex;
  justify-content: center;
}
.boutons
{
  margin-top: 80px;
}

.bouton
{
  width: 250px;
  height: 400px;
}
.imageBouton
{
  width: 250px;
  height: 400px;
}
.textBouton
{
background-color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
vertical-align: center;
text-align: center;
color: white;
width: 190px;
margin-top: -200px;
margin-left: 45px;
}
.textBouton:hover
{
  transform: scale(1.5);
    width: 160px;
}



.collierMiLong, .sautoir, .tourDeCou, .bouclesOreilles
{
  display: none;
}

.card
{
  width: 800px;
  height: 650px;
}




img
{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
}





///// page produit
.collierMiLong, .bouclesOreilles, .tourDeCou, .sautoir
{
  width: 800px;
  height: 650px;
}
@media screen and (max-width: 767px)
{.collierMiLong, .bouclesOreilles, .tourDeCou, .sautoir
  {width: 500px;
  height: 500px;
}
}
